head {
    background-color: chartreuse;

}

body {
    display: inline-block;
    min-width: 800px;
    margin: 0; 
    background-color: coral;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

header{
    width: 100%;
    height: 50px;
    background-color: beige;
    color: black;
}

nav{
    height: 50px;
    width: 100%;
    padding: 0;
    background-color: beige;
    text-align: end;

}

ul{
    list-style-type: none;
    
}

ul li{
    display: inline-block;
    margin-left: 25px;

}

a{
    text-decoration: none;
}
main{ 
    width: 100%;
    height: auto;
    background-color: beige;
    
}

.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main img{
    max-width: auto;
    max-height: 600px;
    flex: 2 0 20px;
}