*, *:before, *:after {
    box-sizing: inherit;
  }
head {
    background-color: chartreuse;

}
body {
    display: inline-block;
    min-width: auto;
    margin: 0; 
    background-color: rgb(26, 25, 58);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
header {
    text-align: center;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

/* Navagation bar */
nav{
    height: 50px;
    width: auto;
    padding: 0;
    text-align: end;
    color: white;
    font-size: medium;
    font-weight: 900;
    text-decoration: none;
}

.header_home{
    font-size: 30px;
    text-decoration: none;
    color: white;
    justify-content: center;
}
/* transiston from Coder Coder Youtube */
nav a{
    transition: 300ms ease-in-out;
}

nav a:hover{
    color: rgb(20, 236, 142)}


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        /* background-color: #111; */
      }
      

/* */


/*  Main section code */
main{ 
    width: 100%;
    height: auto;
    /* background-color: beige; */
    
}
.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(274deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 48%, rgba(0,212,255,1) 100%);
border-radius: 15px;/* background-color: #0072bb; */
    color: #ffffff;
}

.main-content img {
    max-height: 200px;
}

.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



main img{
    margin: 25px;
    max-width: 300px;
    max-height: 100vh;
    border-radius: 15px;
    
}

main {
    margin-top: 100px;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif; /* You can change the font family */
    color: white; Text color on top of the image
  }
.about-section{
    width: 300px auto;
    padding:0 100px 0 25px;
    text-align: center;
    display: flex;    
    background: linear-gradient(274deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 48%, rgba(0,212,255,1) 100%);
    border-radius: 15px;
    justify-content:space-evenly;
    
}
@media (max-width: 600px){
    .about-section{
    flex-direction: column;
    }
}
.about-section p{ 
    width: 300px;
}
.portfoilio p{
        text-align: left;
    }
  
.grid-parent{
    padding: 15px;  
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-items: right;

}

.img-parent{
    padding: 25px;
    display:grid;
    grid-template-columns: 3fr 2fr;
    background: rgb(2,0,36);
    background: linear-gradient(274deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 48%, rgba(0,212,255,1) 100%);
    border-radius: 15px;
    gap: 10px;
    
}
.portfoilio-content {
    width: 400px;
    padding: 25px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 48%, rgba(0,212,255,1) 100%);
    border-radius: 15px;
}
a{
    font-size: large;
        color: white;
    }


article div img{
    height: 300px;
    width: 400px;
    border-radius: 15px;
    transition: transform .2s;
    
}
/* article div img {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  } */
  
  article div img:hover {
    -ms-transform: scale(1.); /* IE 9 */
    -webkit-transform: scale(1.); /* Safari 3-8 */
    transform: scale(1.1);
     
  }

@media (max-width: 400px) {
    grid-auto-flow: row;
    
  }
section img{
    position: right;

}
aside{
    text-align: center;
}

